<div class="row">
  <div class="col-md-12">
    <h4>
      <%= link_to product.title, product.url %>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <% if !product.image_url.nil?  %>
      <%= image_tag product.image_url, class: "img-thumbnail" %>
    <% else %>
      <%= image_tag "http://placehold.it/114x170", class: "img-thumbnail" %>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <h4>
      Mentions in this subreddit
    </h4>
    <% product.mentions.joins(:comment).where("comments.subsite_id = ?", @subsite.id).group("mentions.id, comments.written_at").order("comments.written_at desc").each do |mention| %>
      <%= render "mentions/mention", mention: mention %>
    <% end %>
  </div>
</div>
</br>

<div class="row">
  <div class="col-md-12">
    <h4>
      Mentions in other subreddits
    </h4>
    <% if product.mentions.joins(:comment).where("comments.subsite_id != ?", @subsite.id).group("mentions.id, comments.written_at").order("comments.written_at desc").each do |mention| %>
      <%= render "mentions/mention", mention: mention %>
    <% end.empty? %>
      <i>No other mentions!</i>
    <% end %>
  </div>
</div>
</br>
